*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    position: relative;
}

.submenu{
    position: absolute;
    z-index: 999;
    display: none;
    width: 150px;
    
}
.submenu li{
    display: block;
    
}
.menu:hover .submenu{
    display: block;
}
.submenu-show{
    position: relative;
}
.deepsubmenu{
    width: 320px;
    position: absolute;
    display: none;
    left: 100%;
    top: 0;
    text-align: left;
    padding: 20px;


}
.deepsubmenu li{
    display: block;
}
.submenu-show:hover .deepsubmenu{
    display: block;
}
.deepmenu-show{
    position: relative;
}
.deepmenu-show-menu{
    width: 200px !important;
    position: absolute;
    left: 100%;
    top: 0%;
    padding-left: 30px;
    display: none;
    /* z-index: 1099; */
}
.deepmenu-show:hover .deepmenu-show-menu{
    display: block;
}